{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Login</h4>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input type="email" name="email" class="form-control" required placeholder="name@veolia.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee ID (Password)</label>
                        <input type="password" name="password" class="form-control" required
                            placeholder="Enter your Employee ID">
                    </div>
                    <button type="submit" class="btn btn-danger w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}